@model WebFileBrowser.Models.DirectoryModel

@{
    ViewBag.Title = "Welcome";
}

<div id="currentPathDiv">

</div>

<div id="logicalDrivesDiv">
    <p>
        <select size="5" multiple id="diskLetterSelect">
            <option disabled selected>--- Выберите диск ---</option>
        </select>
    </p>
</div>

<div id="directoriesDiv">
</div>


<p>
    <div id="filesDiv"></div>
</p>

<button id="showDirInfoButton">try get dir</button>

@section scripts
{
<script type="text/javascript">
    var view = new Views.Navigation.Index();

    view.InitView();
</script>
}